ul,li,p,dl,dd,h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0
}

ul,li,ol {
	list-style: none
}

em {
	font-style: normal
}

.goods-detail-info {
	background: #fff;
	margin-bottom: 10px
}

.goods-pic-box,.goods-info-box {
	min-height: 620px;
	_height: 620px
}

.goods-pic-box {
	float: left;
	width: 800px;
	position: relative;
	text-align: center
}

.goods-pic-box .icon-slides {
	position: absolute;
	top: 0;
	cursor: pointer
}

.goods-pic-box .icon-slides-prev {
	left: 0
}

.goods-pic-box .icon-slides-next {
	right: 0
}

.goods-big-pic {
	height: 510px;
	padding: 20px 0 10px;
	background: url(http://p.www.xiaomi.com/images/loading.gif) no-repeat
		center center
}

.goods-big-pic img {
	width: 510px;
	height: 510px
}

.goods-small-pic li {
	display: inline-block;
	*display: inline;
	width: 60px;
	height: 60px;
	margin: 0 5px;
	cursor: pointer;
	zoom: 1;
	border: 3px solid #fff;
	border-radius: 5px
}

.goods-small-pic li img {
	width: 60px;
	height: 60px
}

.goods-small-pic li.current {
	border-color: #ededed
}

.goods-info-box {
	float: right;
	width: 332px;
	padding: 0 28px 0 29px;
	border-left: 1px solid #ededed;
	font-size: 12px;
	color: #434a54
}

.goods-info-box dt {
	padding-bottom: 15px
}

.goods-info-box dt .discount {
	padding-bottom: 30px
}

.goods-info-box dt .discount p {
	height: 40px;
	margin-bottom: -10px
}

.goods-info-box h1 {
	font-size: 24px;
	line-height: 1.5
}

.goods-info-box dd {
	padding: 10px 0;
	position: relative;
	border-top: 1px solid #ededed
}

.goods-info-box .goods-info-extent {
	border: none;
	padding-top: 20px
}

.goods-info-phone {
	font-size: 14px;
	line-height: 2;
	color: #656d78
}

.goods-info-price .item {
	padding: 4px 0
}

.goods-info-price .goods-info-activity {
	padding-left: 60px;
	position: relative;
	color: #da4453
}

.goods-info-price .goods-info-activity label {
	position: absolute;
	top: 4px;
	left: 0;
	_left: -60px;
	color: #434a54
}

.goods-info-price .goods-info-activity .icon {
	padding: 1px 3px;
	margin-right: 8px;
	background-color: #da4453;
	color: #fff
}

.goods-info-price .goods-info-activity a {
	margin-left: 8px;
	color: #36c
}

.goods-info-price .letter-spacing-2 {
	letter-spacing: 2em
}

.goods-info-price .letter-spacing-half {
	letter-spacing: 0.5em
}

.goods-info-price .goods-info-price-num {
	font-size: 14px;
	color: #f84858
}

.goods-info-price .goods-info-price-num em {
	font-size: 24px;
	margin-right: 5px
}

.goods-info-price del {
	color: #aab2bd
}

.goods-info-price .icon-stat {
	margin-right: 5px;
	margin-bottom: -2px
}

.goods-info-options {
	padding: 10px 0;
	margin-bottom: -10px;
	overflow: hidden;
	zoom: 1
}

.goods-info-options .label {
	display: block;
	margin-bottom: 10px
}

.goods-info-options .item {
	float: left;
	display: inline-block;
	padding: 1px 11px;
	height: 24px;
	line-height: 24px;
	margin: 0 10px 10px 0;
	border: 1px solid #ededed;
	overflow: hidden
}

.goods-info-options .item:hover {
	text-decoration: none
}

.goods-info-options .selected {
	padding: 0 10px;
	border: 2px solid #f84858;
	color: #f84858
}

.goods-add-cart-btn {
	float: left;
	width: 161px;
	margin: 10px 10px 0 0;
	position: relative;
	z-index: 20;
	font-weight: bold;
	_height: 26px;
	_padding-top: 12px
}

.goods-add-cart-btn .icon-goods-add {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url("http://p.www.xiaomi.com/zt/2013/icon-goods-add.png")
		no-repeat;
	margin: -2px 5px 0 0;
	vertical-align: middle
}

.icon-goods-notice {
	display: inline-block;
	width: 20px;
	height: 14px;
	margin: -2px 5px 0 0;
	vertical-align: middle;
	background: url("http://p.www.xiaomi.com/zt/2013/icon-goods-notice.png")
		no-repeat;
	overflow: hidden
}

.goods-notice-btn {
	float: left;
	width: 161px;
	margin: 10px 10px 0 0;
	_height: 24px;
	_padding-top: 12px
}

.goods-over-btn {
	float: left;
	width: 161px;
	margin: 10px 10px 0 0;
	cursor: default
}

.goods-collect-btn {
	float: left;
	width: 159px;
	margin-top: 10px;
	color: #656d78;
	font-weight: bold;
	_height: 24px;
	_padding-top: 12px
}

.goods-collect-btn .icon-common {
	margin: -1px 5px 0 0;
	vertical-align: middle
}

#playHeart {
	display: block;
	position: absolute;
	width: 23px;
	height: 23px;
	z-index: 100
}

.goods-info-extent li {
	height: 16px;
	line-height: 16px;
	padding: 15px 0;
	border-top: 1px solid #ededed
}

.goods-info-extent li .icon-common {
	margin-right: 10px;
	vertical-align: middle;
	margin-top: -2px;
	*margin-top: 0
}

.goods-info-extent .sns-share a {
	margin-right: 20px
}

.goods-info-extent .sns-share .icon-common {
	margin-right: 0
}

.goods-info-extent .sns-share .icon-common-sina {
	background-position: -485px -2px
}

.goods-info-extent .sns-share .icon-common-kongjian {
	background-position: -485px -23px
}

.goods-detail-box .hd {
	padding-top: 0
}

.goods-detail-box .bd {
	padding: 10px
}

.godds-desc-menu ul {
	height: 20px;
	padding: 15px 0;
	overflow: hidden
}

.godds-desc-menu li {
	float: left;
	margin-left: -1px
}

.godds-desc-menu li a {
	display: inline-block;
	line-height: 20px;
	padding: 0 15px;
	color: #434a54;
	font-size: 18px;
	border-left: 1px solid #ccd1d9
}

.godds-desc-menu li a:hover {
	text-decoration: none;
	color: #f84858
}

.godds-desc-menu .current a {
	color: #f84858
}

.godds-desc-par {
	padding: 20px
}

.godds-desc-par table {
	width: 100%
}

.godds-desc-par table th,.godds-desc-par table td {
	padding: 8px 0 8px 20px;
	border-bottom: 1px solid #ededed;
	text-align: left
}

.godds-desc-par table th {
	background-color: #fafafa;
	color: #666
}

.godds-desc-par table thead th {
	background-color: #f4f4f6;
	font-weight: normal
}

.godds-desc-par table tbody th {
	width: 150px
}

.godds-desc-par table tbody td {
	color: #999
}

.goods-desc-con {
	width: 100%;
	padding: 10px 0;
	overflow: hidden;
	text-align: center
}

.goods-comment-trigger {
	float: right;
	margin: 15px 15px 0 0;
	font-size: 14px
}

.goods-comment-trigger .icon-common-comment {
	margin-right: 5px;
	vertical-align: middle
}

.goods-comment-list ul {
	margin: 0 10px
}

.goods-comment-list li {
	padding: 15px 0;
	border-bottom: 1px solid #ededed
}

.goods-comment-list li h2 {
	font-size: 14px;
	color: #f84858
}

.goods-comment-list li p {
	font-size: 12px;
	color: #656d78
}

.goods-comment-list li .is-top {
	float: right;
	font-size: 12px;
	background-color: #f84858;
	color: #fff;
	padding: 0 8px;
	border-radius: 3px;
	font-weight: normal
}

.goods-comment-list li .reply {
	margin: 5px 0 0;
	padding: 10px 20px;
	background-color: #f5f7fa;
	font-size: 12px
}

.goods-comment-list li .state {
	margin-top: 10px;
	font-size: 12px;
	color: #aab2bd
}

.goods-comment-list li .state a {
	color: #aab2bd
}

.goods-comment-list li .state a:hover {
	color: #f84858;
	text-decoration: none
}

.goods-comment-list li .state .useful {
	color: #656d78;
	float: right
}

.goods-comment-list li .state .line {
	margin: 0 5px
}

.goods-comment-list li .icon-stat {
	margin-bottom: -3px;
	margin-right: 3px
}

.goods-comment-list .xm-pagenavi {
	display: none
}

.goods-faq-sub {
	float: left;
	line-height: 14px;
	font-size: 14px;
	margin: 18px 0 0 10px;
	padding-left: 10px;
	border-left: 1px solid #aab2bd
}

.goods-online-trigger {
	float: right;
	line-height: 18px;
	margin: 15px 15px 0 0;
	font-size: 14px
}

.goods-online-trigger .icon-common-people {
	margin-right: 5px;
	margin-top: -2px;
	vertical-align: middle
}

.goods-faq-list ul {
	overflow: hidden
}

.goods-faq-list li {
	float: left;
	width: 435px;
	padding: 20px;
	margin-bottom: -1px
}

.goods-faq-list li h2 {
	margin-bottom: 5px;
	font-size: 14px;
	color: #434a54
}

.goods-faq-list li p {
	font-size: 12px;
	color: #656d78
}

.goods-sub-bar {
	display: block;
	width: 100%;
	height: 60px;
	position: fixed;
	_width: 0;
	_height: 0;
	_overflow: hidden;
	top: -60px;
	left: 0;
	background: #fff;
	z-index: 1000;
	-webkit-transition: .15s ease all;
	-moz-transition: .15s ease all;
	-o-transition: .15s ease all;
	-ms-transition: .15s ease all;
	transition: .15s ease all;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	*border-bottom: 2px solid #ededed
}

.goods-sub-bar .godds-desc-menu ul {
	padding: 20px 0
}

.goods-sub-bar .goods-sub-bar-info {
	padding: 10px 0
}

.goods-sub-bar .goods-sub-bar-info dt {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 10px
}

.goods-sub-bar .goods-sub-bar-info dt img {
	width: 40px;
	height: 40px
}

.goods-sub-bar .goods-sub-bar-info dd {
	float: left
}

.goods-sub-bar .goods-sub-bar-info dd strong {
	display: block;
	width: 180px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.goods-sub-bar .goods-sub-bar-info dd em {
	margin-right: 5px;
	color: #f84858
}

.goods-sub-bar .goods-sub-bar-info dd del {
	color: #aab2bd
}

.goods-sub-bar .fr {
	float: right
}

.goods-sub-bar .fr .btn {
	margin-top: 10px;
	margin-right: 0
}

.goods-sub-bar .fr .item-action-state {
	display: block;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 100;
	width: 161px;
	height: 38px;
	line-height: 38px;
	color: #fff;
	text-align: center;
	background: #91cd50;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.goods-sub-bar .fr .item-action-state .icon-goods-add-success {
	display: inline-block;
	position: relative;
	top: 2px;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background: url("http://p.www.xiaomi.com/zt/2013/icon-goods-list.png")
		no-repeat -36px 0
}

.goods-sub-bar .godds-desc-menu li {
	margin-left: 0
}

.modal-faq {
	width: 725px;
	height: 550px;
	margin-top: -275px
}

.faq-header {
	width: 695px
}

.faq-body {
	padding-right: 0;
	padding-top: 0;
	_padding-right: 0
}

.faq-body iframe {
	width: 710px;
	display: block;
	margin: 0;
	border: 0;
	padding: 0
}



.goods-comment-box {
	width: 740px;
	margin-left: -370px;
	font-size: 12px;
	margin-top: -300px
}

.goods-comment-form {
	width: 710px
}

.goods-comment-form .pic {
	float: left;
	width: 350px;
	height: 350px;
	margin-right: 20px
}

.goods-comment-form .pic img {
	display: block;
	width: 350px;
	height: 350px
}

.goods-comment-form .form-box {
	float: left
}

.goods-comment-form .stat-list {
	margin: 0;
	padding: 0;
	list-style-type: none
}

.goods-comment-form .stat-list li {
	padding: 4px 0
}

.goods-comment-form .stat-list li label,.goods-comment-form .stat-list li .stat-box,.goods-comment-form .stat-list li .txt
	{
	float: left
}

.goods-comment-form .stat-list li label {
	color: #434a54
}

.goods-comment-form .stat-list li .stat-box {
	width: 90px;
	height: 14px;
	margin-top: 3px;
	position: relative
}

.goods-comment-form .stat-list li .stat-holder {
	width: 90px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	margin: 0
}

.goods-comment-form .stat-list li .stat-holder i {
	float: left;
	width: 18px;
	height: 14px;
	cursor: pointer
}

.goods-comment-form .stat-list li .msg {
	margin-left: 10px;
	color: #ff6f3d
}

.goods-comment-form .comment-text {
	margin-top: 15px
}

.goods-comment-form .comment-text label {
	display: block;
	margin-bottom: 5px;
	color: #434a54
}

.goods-comment-form .comment-text label em {
	color: #ff6f3d
}

.goods-comment-form .comment-text .msg {
	float: right;
	color: #ff6f3d
}

.goods-comment-form .comment-text textarea {
	width: 318px;
	height: 100px;
	padding: 10px;
	line-height: 20px;
	border: 1px solid #e5e8ed;
	border-radius: 8px
}

.goods-comment-form .comment-text textarea:hover,.goods-comment-form .comment-text textarea:focus
	{
	border-color: #ff6f3d;
	outline: none
}

.goods-comment-form .tips {
	margin: 15px 0 0;
	padding: 0;
	list-style-type: none
}

.icon-sina {
	display: inline-block;
	width: 19px;
	height: 16px;
	background:
		url("http://p.www.xiaomi.com/zt/2013/icon-sina-white.png?0809")
		no-repeat;
	overflow: hidden
}

.goods-comment-result-box {
	width: 400px;
	margin-left: -200px;
	text-align: center
}

.goods-comment-result-box .modal-body {
	padding: 20px
}

.goods-comment-result-box .hd h3 {
	font-size: 24px;
	margin: 0 0 5px;
	color: #434a54
}

.goods-comment-result-box .bd {
	padding: 15px;
	margin-top: 15px;
	background: #f5f7fa;
	border: 1px solid #ededed;
	border-radius: 5px
}

.goods-comment-result-box .bd img {
	width: 110px;
	height: 110px
}

.goods-comment-result-box .bd .stat-result {
	margin-top: 10px
}

.goods-comment-result-box .bd p {
	font-size: 12px
}

.goods-comment-result-box .comment-text {
	height: 2em;
	overflow: hidden
}

.goods-comment-result-box .comment-share {
	padding-top: 20px
}

.goods-comment-result-box .comment-share .btn {
	width: 120px;
	padding: 0 15px;
	margin-bottom: 5px
}

.goods-comment-result-box .comment-share .btn .icon-sina {
	margin: -2px 5px 0 0;
	vertical-align: middle
}

.goods-comment-result-box .comment-share p {
	color: #aab2bd;
	font-size: 12px
}

.goods-comment-tip-box dl {
	padding: 10px;
	line-height: 2
}

.goods-comment-tip-box .btn {
	display: block;
	margin: 10px auto 0
}




/**************************************************************************/
/**************************************************************************/

article,aside,details,figcaption,figure,footer,header,main,nav,section {
	display: block
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not ([controls] ){
	display: none;
	height: 0
}

[hidden] {
	display: none
}

html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

a:hover,a:active {
	outline: 0
}

b,strong {
	font-weight: bold
}

small {
	font-size: 80%
}

sub,sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic
}

form {
	margin: 0
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

button,input {
	line-height: normal
}

button,html input[type="button"],input[type="reset"],input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible
}

button[disabled],html input[disabled] {
	cursor: default
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

body {
	margin: 0;
	font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #656d78;
	background-color: #f5f7fa;
	position: relative
}

.container {
	margin-right: auto;
	margin-left: auto;
	*zoom: 1
}

.container:before,.container:after {
	display: table;
	content: "";
	line-height: 0
}

.container:after {
	clear: both
}

.header.container {
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	-o-transition: width .3s;
	transition: width .3s
}

.container-fluid {
	padding-right: 10px;
	padding-left: 10px;
	*zoom: 1
}

.container-fluid:before,.container-fluid:after {
	display: table;
	content: "";
	line-height: 0
}

.container-fluid:after {
	clear: both
}

a {
	color: #656d78;
	text-decoration: none
}

a:hover,a:focus {
	color: #f84858;
	text-decoration: none
}

.img-rounded {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}

.img-polaroid {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}

.img-circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px
}

.clearfix {
	*zoom: 1
}

.clearfix:before,.clearfix:after {
	display: table;
	content: "";
	line-height: 0
}

.clearfix:after {
	clear: both
}

.hide {
	display: none
}

.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	filter: alpha(opacity = 20)
}

.close:hover,.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .4;
	filter: alpha(opacity = 40)
}

.row {
	margin-left: -10px;
	*zoom: 1
}

.row:before,.row:after {
	display: table;
	content: "";
	line-height: 0
}

.row:after {
	clear: both
}

.container {
	width: 1190px
}

.span15 {
	width: 1190px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span14 {
	width: 1110px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span13 {
	width: 1030px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span12 {
	width: 950px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span11 {
	width: 870px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span10 {
	width: 790px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span9 {
	width: 710px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span8 {
	width: 630px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span7 {
	width: 550px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span6 {
	width: 470px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span5 {
	width: 390px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span4 {
	width: 310px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span3 {
	width: 230px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span2 {
	width: 150px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}

.span1 {
	width: 70px;
	float: left;
	_display: inline;
	min-height: 1px;
	margin-left: 10px
}



.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-bottom: 0;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #e6e9ed;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #656d78;
	padding: 0;
	width: 140px
}

.btn:hover,.btn:focus {
	color: #656d78;
	text-decoration: none;
	background-color: #fff
}

.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btn.active,.btn:active {
	outline: 0;
	background-color: #f5f7fa;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15)
}

.btn.disabled,.btn[disabled] {
	cursor: default;
	opacity: .65;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #e5e9ec;
	background: #ccd0d9
}

.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.btn-primary {
	background-color: #dd4250;
	border: 0;
	color: #fff
}

.btn-primary:hover,.btn-primary:focus {
	color: #fff;
	background-color: #ec4958
}

.btn-primary.active,.btn-primary:active {
	background-color: #cb2e3c
}

.btn-green {
	background-color: #85c143;
	border: 0;
	color: #fff
}

.btn-green:hover,.btn-green:focus {
	color: #fff;
	background-color: #8cc84d
}

.btn-green.active,.btn-green:active {
	background-color: #7cb83a
}

.btn-blue {
	background-color: #4b89dc;
	border: 0;
	color: #fff
}

.btn-blue:hover,.btn-blue:focus {
	color: #fff;
	background-color: #5d9cec
}

.btn-blue.active,.btn-blue:active {
	background-color: #4682d3
}

.btn-purple {
	background-color: #967adc;
	border: 0;
	color: #fff
}

.btn-purple:hover,.btn-purple:focus {
	color: #fff;
	background-color: #a084e4
}

.btn-purple.active,.btn-purple:active {
	background-color: #8b6fd1
}

.btn-red {
	background-color: #ed5567;
	border: 0;
	color: #fff
}

.btn-red:hover,.btn-red:focus {
	color: #fff;
	background-color: #f86072
}

.btn-red.active,.btn-red:active {
	background-color: #e14d5e
}

.btn-dake {
	background-color: #656d78;
	border: 0;
	color: #fff
}

.btn-dake:hover,.btn-dake:focus {
	color: #fff;
	background-color: #717984
}

.btn-dake.active,.btn-dake:active {
	background-color: #5a606c
}

.btn-dakeLight {
	background-color: #ccd0d8;
	border: 0;
	color: #fff
}

.btn-dakeLight:hover,.btn-dakeLight:focus {
	color: #fff;
	background-color: #d2d5dc
}

.btn-dakeLight.active,.btn-dakeLight:active {
	background-color: #c6cad3
}

.btn-small {
	height: 30px;
	line-height: 30px;
	width: 110px;
	font-size: 12px
}

.btn-round {
	height: 24px;
	line-height: 24px;
	width: 105px;
	font-size: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px
}

.modal-backdrop {
	position: fixed !important;
	_position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}

.modal-backdrop.fade {
	opacity: 0
}

.modal-backdrop {
	opacity: .2;
	filter: alpha(opacity = 20)
}

.modal {
	position: fixed !important;
	top: 50%;
	left: 50%;
	z-index: 1050;
	width: 560px;
	margin-left: -280px;
	margin-top: -200px;
	_position: absolute;
	_top: 13%;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	outline: none
}

.modal.fade {
	-webkit-transition: opacity .3s linear, top .3s ease-out;
	-moz-transition: opacity .3s linear, top .3s ease-out;
	-o-transition: opacity .3s linear, top .3s ease-out;
	transition: opacity .3s linear, top .3s ease-out;
	top: -25%
}

.modal-header {
	padding: 9px 15px;
	border-bottom: 1px solid #eee
}

.modal-header .close {
	margin-top: 2px;
	cursor: pointer
}

.modal-header h3 {
	margin: 0;
	line-height: 30px
}

.modal-body {
	position: relative;
	max-height: 400px;
	padding: 15px
}

.modal-form {
	margin-bottom: 0
}

.modal-footer {
	padding: 14px 15px 15px;
	margin-bottom: 0;
	text-align: right;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	*zoom: 1
}

.modal-footer:before,.modal-footer:after {
	display: table;
	content: "";
	line-height: 0
}

.modal-footer:after {
	clear: both
}

.modal-footer .btn+.btn {
	margin-left: 5px;
	margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
	margin-left: 0
}

.xmSlide {
	position: relative
}

.xmSlide-pagination {
	display: none
}

.xmSlide-navigation {
	display: none;
	position: absolute;
	top: 0;
	height: 100%;
	z-index: 1000
}

.xmSlide-previous {
	left: 0
}

.xmSlide-next {
	right: 0
}

.xm-box {
	margin-bottom: 10px;
	background: #fff;
	_zoom: 1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.xm-box .hd {
	height: 50px;
	border-bottom: 1px solid #e6e9ed
}

.xm-box .hd .title {
	float: left;
	margin: 0;
	padding-left: 20px;
	font: 400 18px/50px arial, "Hiragino Sans GB", "Microsoft YaHei", SimHei,
		sans-serif;
	color: #434a54
}



















